{%extends 'base.html'%}

{% block content%}
<div class="container" style="margin-top: 20%; margin-left: 20%; width: 100%">
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="mt-4">Teachers Information</h2>
      {% comment %} {% if request.user.is_authenticated and request.user.is_admin %} {% endcomment %}
        <a href="{% url 'teacher' %}" class="btn btn-secondary me-lg-5 gradient-button">Add Department</a>
      {% comment %} {% endif %} {% endcomment %}
    </div>

    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Teacher Name</th>
          <th scope="col"> Department</th>
          {% comment %} <th scope="col">Teachers</th>
          <th scope="col">Courses</th>
          {% if request.user.is_authenticated and request.user.is_admin %}
            <th scope="col">Actions</th>
          {% endif %} {% endcomment %}
        </tr>
      </thead>
      <tbody>
        {% for teacher in teachers %}
          <tr>
            <td scope="row">{{ forloop.counter }}</td>
            <td>{{ teacher.name }}</td>
            <td>{{ teacher.department}}
            {% comment %} <td>
              <div class="ui selection dropdown">
                <i class="dropdown icon"></i>
                <div class="default text fs-5 ms-5">Teachers</div>
                <div class="menu scrolling">
                  {% for teacher in department.teachers %}
                    <div class="item" data-value="{{ teacher.id }}">{{ teacher.name|capfirst }}</div>
                  {% endfor %}
                </div>
              </div>
            </td>
            <td>
              <div class="ui selection dropdown">
                <i class="dropdown icon"></i>
                <div class="default text fs-5 ms-5">Courses</div>
                <div class="menu scrolling">
                  {% for course in department.courses %}
                    <div class="item" data-value="{{ course.id }}">{{ course.courseName|capfirst }}</div>
                  {% endfor %}
                </div>
              </div>
            </td>
            {% if request.user.is_authenticated and request.user.is_admin %}
              <td>
                <a href="{% url 'department_delete' department.id %}" class="fa fa-trash" data-turbo-method="delete" data-turbo-confirm="Are you sure to delete"></a>
                <a href="{% url 'department_edit' department.id %}" class="ms-3">Edit</a>
              </td>
            {% endif %} {% endcomment %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content%}