{% extends 'base.html' %} 
{% load static %}

{% block content %}
<div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
  <div class="card p-4 border shadow-lg">
    <h5 class="card-title text-center mb-4">Create Course</h5>
    <p class="card-text text-center text-muted">{{ message }}</p>
    <!-- Form -->
    <form method="post" enctype="multipart/form-data" id="courseForm" data-teachers-url="{% url 'load_teachers' %}">
      {% csrf_token %}
      <div class="mb-3">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <label for="name" class="form-label mb-2">Course Name:</label>
            </div>
            <div class="col-md-12">
              <input type="text" class="form-control" id="id_name" name="name" placeholder="Enter Course name">
            </div>

            <div class="col-md-12">
              <label for="name" class="form-label mb-2">Teachers:</label>
            </div>
            <div class="col-md-12">
              <select name="teacher">
                {% for teacher in teachers%}
                   <option value="{{ teacher.id }}">{{ teacher.name|capfirst }}</option>
                {%endfor%}
              </select>
           </div>
          </div>
        </div>
      </div>
      <div class="d-grid mt-4">
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
